## A deeper look into Covid in Portugal

In this exercise notebook, you will be replicating what you just learned with another covid-related dataset, vaccinations.

### Initial Setup
Remember: 
Here we are importing libraries (code made by someone else) to agilize our exploration.

In [1]:
import pandas as pd #Pandas

First things first, we need to import the data from the github repository. They have several files, but for now we are only going to get **"vacinas.csv"**

With that said:
1. First read the csv (remember about the index and datetimes)
2. Take a quick look at the data
3. Answer the following questions

In [3]:
data = 'https://raw.githubusercontent.com/dssg-pt/covid19pt-data/master/vacinas.csv' #This is the url of the file
df = #code here
df

,data,doses,doses_novas,doses1,doses1_novas,doses2,doses2_novas,pessoas_vacinadas_completamente,pessoas_vacinadas_completamente_novas,pessoas_vacinadas_parcialmente,pessoas_vacinadas_parcialmente_novas
0,27-12-2020,4963.0,4963.0,4963.0,4963.0,0.0,0.0,0.0,0.0,4963.0,4963.0
1,28-12-2020,7754.0,2791.0,7754.0,2791.0,0.0,0.0,0.0,0.0,7754.0,2791.0
2,29-12-2020,20368.0,12614.0,20368.0,12614.0,0.0,0.0,0.0,0.0,20368.0,12614.0
3,30-12-2020,30543.0,10175.0,30543.0,10175.0,0.0,0.0,0.0,0.0,30543.0,10175.0
4,31-12-2020,32749.0,2206.0,32749.0,2206.0,0.0,0.0,0.0,0.0,32749.0,2206.0
...,...,...,...,...,...,...,...,...,...,...,...
159,04-06-2021,5792490.0,71644.0,3853565.0,41859.0,1938925.0,29785.0,1938925.0,29785.0,1914640.0,12074.0
160,05-06-2021,5883163.0,90673.0,3902612.0,49047.0,1980551.0,41626.0,1980551.0,41626.0,1922061.0,7421.0
161,06-06-2021,5964093.0,80930.0,3938442.0,35830.0,2025651.0,45100.0,2025651.0,45100.0,1912791.0,-9270.0
162,07-06-2021,6006145.0,42052.0,3958681.0,20239.0,2047464.0,21813.0,2047464.0,21813.0,1911217.0,-1574.0
163,08-06-2021,6110360.0,104215.0,4011686.0,53005.0,2098674.0,51210.0,2098674.0,51210.0,1913012.0,1795.0

Q1: What attributes does the data have?

In [ ]:
##answer here

In [4]:
df

,data,doses,doses_novas,doses1,doses1_novas,doses2,doses2_novas,pessoas_vacinadas_completamente,pessoas_vacinadas_completamente_novas,pessoas_vacinadas_parcialmente,pessoas_vacinadas_parcialmente_novas
0,27-12-2020,4963.0,4963.0,4963.0,4963.0,0.0,0.0,0.0,0.0,4963.0,4963.0
1,28-12-2020,7754.0,2791.0,7754.0,2791.0,0.0,0.0,0.0,0.0,7754.0,2791.0
2,29-12-2020,20368.0,12614.0,20368.0,12614.0,0.0,0.0,0.0,0.0,20368.0,12614.0
3,30-12-2020,30543.0,10175.0,30543.0,10175.0,0.0,0.0,0.0,0.0,30543.0,10175.0
4,31-12-2020,32749.0,2206.0,32749.0,2206.0,0.0,0.0,0.0,0.0,32749.0,2206.0
...,...,...,...,...,...,...,...,...,...,...,...
159,04-06-2021,5792490.0,71644.0,3853565.0,41859.0,1938925.0,29785.0,1938925.0,29785.0,1914640.0,12074.0
160,05-06-2021,5883163.0,90673.0,3902612.0,49047.0,1980551.0,41626.0,1980551.0,41626.0,1922061.0,7421.0
161,06-06-2021,5964093.0,80930.0,3938442.0,35830.0,2025651.0,45100.0,2025651.0,45100.0,1912791.0,-9270.0
162,07-06-2021,6006145.0,42052.0,3958681.0,20239.0,2047464.0,21813.0,2047464.0,21813.0,1911217.0,-1574.0
163,08-06-2021,6110360.0,104215.0,4011686.0,53005.0,2098674.0,51210.0,2098674.0,51210.0,1913012.0,1795.0

Q2: What are the top 5 days with most dose1_novas ?  
_hint_  you can use [sort_values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) function

In [ ]:
#answer here

Q3: What is the day with most dose2_novas ?  (Do not use sort_values function)

Q4: What were the days that there were most 2 dose than 1 dose.. REPHRASE